body {
  background-image: url("./images/purplebackground.png");
  background-size: cover;
}

.title {
  font-weight: bold;
  text-align: center;
}

#happysun {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
